* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --primary: #101F3D;
    --green-accent: #2a9d8f;
    --orange-accent: #ffa500;
}

html,
body,
#root {
    height: 100%;
    background-color: #101F3D;
    padding: 0.3rem;
    color: white;
    font-family: sans-serif;
}